<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet-mapping>
        <servlet-name>yawlServlet</servlet-name>
        <url-pattern>/m4wticket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>login.jsp</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>yawlServlet</servlet-name>
        <servlet-class>org.yawlfoundation.yawl.engine.interfce.interfaceB.InterfaceB_EnvironmentBasedServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login.jsp</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <!-- RPC services -->
    <servlet>
        <servlet-name>ticketService</servlet-name>
        <servlet-class>org.cwf.server.ProblemServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ticketService</servlet-name>
        <url-pattern>/cwf/ticket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>waterpointService</servlet-name>
        <servlet-class>org.cwf.server.WaterPointServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>waterpointService</servlet-name>
        <url-pattern>/cwf/waterpoint</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
    /WEB-INF/m4water-web-applicationContext-security.xml
    </param-value>
    </context-param>
    <!-- Acegi/Spring Security filter (to intercept the requests and perform security checks) s-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Workflow Entry InterfaceBWebsideController -->
    <context-param>
        <param-name>InterfaceBWebSideController</param-name>
        <param-value>org.m4water.server.yawl.TicketYawlService</param-value>
    </context-param>
    <context-param>
        <param-name>InterfaceB_BackEnd</param-name>
        <param-value>http://localhost:8787/yawl/ib</param-value>
    </context-param>
    <!-- secures resources which would be otherwise accessible via a direct link -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTP-Protected-Resource</web-resource-name>
            <description>Access Denied to settings file</description>
            <url-pattern>/M4WATER_SETTINGS.properties</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
</web-app>
